<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1" />
	<link rel="stylesheet" href="css/style.css">
	<title>Formations</title>
</head>

<body>
	<div class="block">
		<div th:include="pattern/presentation"></div>
		
		<div id="description"> 
			<div id="title"> Competences </div>	
				<div th:if="${isadmin}" id="edit"><a th:href="@{/editComp}">Modifier la competence</a></div>	
				
				<table id="tableComp">
					<tr>
						<td>
							<div id="subtitle">Programmation</div>
 							<div id= "compProgrammation" th:utext="${compProg}"></div>
						</td>
						<td>
 							<div id="subtitle">Data</div>
 							<div id= "compData" th:utext="${compData}"></div>
						</td>
					</tr>
					<tr>
						<td>	
 							<div id="subtitle">Frameworks</div>
 							<div id= "compFrameworks" th:utext="${compFram}"></div>							
						</td>
						<td>
 							<div id="subtitle">Autres</div>
 							<div id= "compAutres" th:utext="${compAutres}"></div>	
						</td>
					<tr>
					
				</table>
	
			</div>
		
		<div th:include="pattern/menu"></div>
	</div>
</body>

</html>