<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1" />
	<link rel="stylesheet" href="css/style.css">
	<title>Formations</title>
</head>

<body>
	<div class="block">
		<div th:include="pattern/presentation"></div>
		
		<div id="description"> 
			<div id="title"> Experiences </div>
		
			<div id="items" th:block th:each="experience : ${resultList}">
				<div id= "separator" th:text="----------------------------"></div>
				<div th:if="${isadmin}" id="edit"><a th:href="@{/editExperience/{id}(id=${experience.id})}">Modifier la experience</a></div>	
     			<div id= "expeEmployer" th:utext="${experience.employer}"></div>
     			<div id= "expeAdress" th:utext="${experience.adress}"></div>
     			<div id= "expeDate" th:utext="${experience.date}"></div>
 				<div id= "expeDescription" th:utext="${experience.description}"></div>
			</div>
			
			<div th:if="${isadmin}" id="edit"><a href="/createExperience">Creer une experience</a></div>
		</div>
		
		<div th:include="pattern/menu"></div>
	</div>
</body>

</html>