<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1" />
	<link rel="stylesheet" href="css/style.css">
	<title>Formations</title>
</head>

<body>
	<div class="block">
		<div th:include="pattern/presentation"></div>
		
		<div id="description"> 
			<div id="title"> Formations</div>
		
			<div id="items" th:block th:each="formation : ${resultList}">
				<div id= "separator" th:text="----------------------------"></div>
				<div th:if="${isadmin}" id="edit"><a th:href="@{/editFormation/{id}(id=${formation.id})}">Modifier la presentation</a></div>	
     			<div id= "formaTitle" th:text="${formation.title}"></div>
     			<div id= "formaDate" th:text="${formation.date}"></div>
 				<div id= "formaSchool" th:text="${formation.school}"></div>
 				<div id= "formaDescription" th:utext="${formation.description}"></div>
			</div>
			
			<div th:if="${isadmin}" id="edit"><a href="/createFormation">Creer une formation</a></div>
		</div>
		<div th:include="pattern/menu"></div>
	</div>
</body>

</html>