<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="css/styleAdmin.css">
    <title>Administration</title>
</head>

<body>
	<section>
		<div class="register-wrapper">
			<div class="register-block">
				<h3 class="register-title">Editer Presentation</h3>
				<form th:action="@{/editComp}" th:object="${competence}" method="post">
					<textarea rows="20" cols="80" th:field="*{programmation}" placeholder="Programmation"></textarea>
					<textarea rows="20" cols="80" th:field="*{data}" placeholder="Data"></textarea>
					<textarea rows="20" cols="80" th:field="*{frameworks}" placeholder="Frameworks"></textarea>
					<textarea rows="20" cols="80" th:field="*{autres}" placeholder="Autres"></textarea>				
					<input type="submit" value="Modifier"/>
				</form>
			</div>
			<p> <a href="/"> Retour </a> </p>
		</div>
	</section>
</body>