<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div id="menu">
	<table> 
		<tr>
			<td> <button type="button" class="menuButton" onclick="location.href='/'">Accueil</button> </td>
			<td> <button type="button" class="menuButton" onclick="location.href='/formation'">Formations</button> </td>
			<td> <button type="button" class="menuButton" onclick="location.href='/experience'">Exp&eacute;riences</button> </td>
			<td> <button type="button" class="menuButton" onclick="location.href='/competence'">Comp&eacute;tences</button> </td>
			<td> <button type="button" class="menuButton" onclick="location.href='/contact'">Contact</button> </td>
		</tr>
	</table>
	<p th:if="${isadmin}" class="error"><a th:href="@{/disconnect}" id="authLink">Deconnection</a></p>
	<p th:if="${isadmin} == null" class="error"><a th:href="@{/login}" id="authLink">Administrateur</a></p>
</div>